<div class="widget-card">
  <div class="widget-header text-center">
    <span>Add Investment Frequency</span>
  </div>
  <div class="widget-body">
    <div class="widget-icon invest-set"></div>
    <p class="widget-text js-invest-container">
      Third, select an investment strategy or frequency
    </p>
  </div>
  <div class="widget-footer text-center js-set-btn-area">
    <button type="submit" class="btn js-set-create-btn">SAVE</button>
  </div>
</div>
