<%= form_for :invest_set, url: invest_sets_path, method: :post do |f| %>
  <div class="card invest-block">
    <div class="card-header text-center">
      <small>Add Investment Frequency</small>
    </div>
      <div class="card-body">
        <%= render 'invest_sets/form' %>
      </div>
      <div class="card-footer bg-white text-center js-set-btn-area">
        <button type="submit" class="btn btn-outline-success width-40 js-set-create-btn">SAVE</button>
      </div>
  </div>
<% end %>

<%= render 'invest_sets/learn_more' %>
