<div class="transactions-footer">
  <div class="transactions-footer__inner">
    <div class="transactions-footer__head drop-footer">
      <div class="head-label">Transactions</div>
      <a href="javascript:void(0);" class="show-more">Show more</a>
    </div>
    <div class="transactions-footer__body">
      <div class="transactions-list-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th class="head-cell date">Date</th>
            <th class="head-cell description">Action</th>
            <th class="head-cell amount">Amount</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="transactions-list-outer custom-scrollbar js-source-transactions-content">
        <table class="transactions-list">
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
