<%= render 'source_accounts/step_icon' %>
<%= form_for :source_account, url: '/source_accounts', method: :post, remote: true,
             html: { id: 'js-source-create', class: 'widget-card new' } do |f| %>
  <div class="widget-header text-center">
    <span>Add Source Account</span>
  </div>
  <div class="widget-body">
    <div class="widget-icon source"></div>
    <p class="widget-text js-source-container">
      First add a source checking account. This account will be used to fund your investments
    </p>
  </div>
  <div class="widget-footer text-center js-source-btn-area">
    <button type="button" class="btn js-source-create-btn" <%= source_account_btn_state %>>
      ADD
    </button>
  </div>
<% end %>
