<%= form_for :source_account, url: '/source_accounts', method: :post, remote: true, html: { id: 'js-source-create' } do |f| %>
  <%= render 'source_accounts/form' %>
  <div class="card invest-block">
    <div class="card-header text-center">
      <small>Add Source Account</small>
    </div>
    <div class="card-body">
      <p class="card-text js-source-container">
      </p>
    </div>
    <div class="card-footer bg-white text-center js-source-btn-area">
      <button type="button" class="btn btn-outline-primary width-40 js-source-create-btn">
        ADD
      </button>
    </div>
  </div>
<% end %>
