<div class="widget-card show">
  <div class="widget-header text-center">
    <span>Source Account STATUS</span>
  </div>
  <div class="widget-body">
    <ul class="widget-list">
      <li class="widget-list__item">
        <span class="widget-list__label">Name:&nbsp;</span>
        <span class="widget-list__value">Interactive Brokers</span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Institution:&nbsp;</span>
        <span class="widget-list__value">Citi</span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Balance:&nbsp;</span>
        <span class="widget-list__value">$ 123 000 000.00</span>
      </li>
      <li class="widget-list__item">
        <span class="widget-list__label">Type:&nbsp;</span>
        <span class="widget-list__value">Checking</span>
      </li>
    </ul>
  </div>
  <div class="widget-footer text-center js-source-btn-area">
    <button type="button" class="btn js-source-change-btn">
      CHANGE ACCOUNT
    </button>
  </div>
</div>
<div class="transactions-footer">
  <div class="transactions-footer__inner">
    <div class="transactions-footer__head">
      <div class="widget-sub-footer__label">Transactions</div>

      <a href="javascript:void(0);" class="show-more">Show more</a>
    </div>
    <div class="transactions-footer__body">
      <div class="transactions-list-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
          <tr>
            <th class="head-cell date">Date</th>
            <th class="head-cell description">Action</th>
            <th class="head-cell amount">Amount</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="transactions-list-outer">
        <table class="transactions-list">
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
          <tr class="transactions-list__item">
            <td class="item-cell date">
              <span class="item-cell__inner">08/24/2018</span>
            </td>
            <td class="item-cell description">
              <span class="item-cell__inner">Uber 063015 SF**...</span>
            </td>
            <td class="item-cell amount">
              <span class="item-cell__inner">$54.00</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

