<tr class="content">
  <td valign="top" height="auto">
    <div class="container">
      <div class="_wrap">&nbsp;</div>
      <span class="title">
        Hi <%= @user.human_name %>
      </span>
      <div class="_wrap">&nbsp;</div>
      <span class="line">
        <%= yield %>
      </span>
    </div>
  </td>
</tr>
