<!-- Learn More modal -->
<div class="modal fade" id="account-success" tabindex="-1" role="dialog" aria-labelledby="account-success" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title">You have successfully added the account</h5>
      </div>
      <div class="modal-body">
        <p class="modal-text success">The email will be send as soon as Dwolla confirm your account</p>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" data-action="proceed">GOT IT!</button>
      </div>
    </div>
  </div>
</div>
<!--/ Learn More modal -->
