<!-- Confirm cancel selected investments modal -->
<div class="modal fade" id="confirm-cancel-selected-investments" tabindex="-1" role="dialog" aria-labelledby="external-service-unavailable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title">ARE YOU SURE YOU WANT TO CANCEL YOUR INVESTMENT FREQUENCY SELECTION?</h5>
      </div>
      <div class="modal-body">
        <h3>Select which of the following operations should be performed:</h3>
        <ul class="modal-text">
          <div class="form-item check-field">
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" id="cancel-periodic-investments-checkbox" class="form-check-input">
                <span class="checkmark"></span>
              </label>
              <label class="form-label" for="cancel-periodic-investments-checkbox">
                  <span>Cancel future periodic investments related to your previous investment frequency selection.</span>
              </label>
            </div>
          </div>
          <div class="form-item check-field">
            <div class="form-group">
              <label class="checkbox">
                <input type="checkbox" id="cancel-transactions-checkbox" class="form-check-input">
                <span class="checkmark"></span>
              </label>
              <label class="form-label" for="cancel-transactions-checkbox">
                  <span>Cancel pending transactions that are still being processed.</span>
              </label>
            </div>
          </div>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">CANCEL</a>
        <button class="btn" type="button" data-dismiss="modal" id="proceed-cancelling-transactions-model-btn" data-action="proceed">PROCEED</button>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    (function($) {
      let cancelPeriodicInvestments = $('#cancel-periodic-investments-checkbox');
      let cancelTransactions = $('#cancel-transactions-checkbox');
      let proceedBtn = $('#proceed-cancelling-transactions-model-btn');
      let cancelPeriodicInvestmentsChecked = true;
      let cancelTransactionsChecked = true;

      cancelPeriodicInvestments.prop('checked', cancelPeriodicInvestmentsChecked)
      cancelTransactions.prop('checked', cancelTransactionsChecked)

      let cancelTransaction = function(){
        let btnState = !cancelPeriodicInvestmentsChecked && !cancelTransactionsChecked
        proceedBtn.data('cancel-investments', cancelPeriodicInvestmentsChecked);
        proceedBtn.data('cancel-transaction', cancelTransactionsChecked);
        proceedBtn.prop('disabled', btnState);
      }

      cancelPeriodicInvestments.on('click', function(e){
        cancelPeriodicInvestmentsChecked = e.target.checked;
        cancelTransaction();
      });

      cancelTransactions.on('click', function(e){
        cancelTransactionsChecked = e.target.checked;
        cancelTransaction();
      });

      cancelTransaction()

    })(jQuery);
  </script>
<% end %>
<!--/ Confirm cancel selected investments modal -->


