<!-- Confirm cancel selected investments modal -->
<div class="modal fade" id="confirm-cancel-selected-investments" tabindex="-1" role="dialog" aria-labelledby="external-service-unavailable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title">Ary you sure You want to cancelling investments?</h5>
      </div>
      <div class="modal-body">
        <h3>The following operations will be performed:</h3>
        <ul class="modal-text">
          <li>1. Discard investments.</li>
          <li>2. Discard planing & pending transactions.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">CANCEL</a>
        <button class="btn" type="button" data-dismiss="modal" data-action="proceed">PROCEED</button>
      </div>
    </div>
  </div>
</div>
<!--/ Confirm cancel selected investments modal -->
