<!-- Learn More modal -->
<div class="modal fade" id="external-service-unavailable" tabindex="-1" role="dialog" aria-labelledby="external-service-unavailable" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title">External service unavailable</h5>
      </div>
      <div class="modal-body">
        <p class="modal-text danger">Sorry for the problem. You may be able to try again</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal">Cancel</a>
        <button class="btn" type="button" data-dismiss="modal">RETRY</button>
      </div>
    </div>
  </div>
</div>
<!--/ Learn More modal -->
