<!-- Learn More modal -->
<div class="modal fade bd-example-modal-lg" id="learn-more" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">SISU determine on appropriate monthly investment amount</h5>
      </div>
      <div class="modal-body">
        Lorem ipsum...<br />
        Lorem ipsum...<br />
        Lorem ipsum...<br />
        Lorem ipsum...<br />
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">GOT IT!</button>
      </div>
    </div>
  </div>
</div>
<!--/ Learn More modal -->
