<!-- Learn More modal -->
<div class="modal fade" id="security-info" tabindex="-1" role="dialog" aria-labelledby="security-info" aria-hidden="true">
  <%= form_for :profile, url: '/users/profile', method: :post, remote: true, html: { id: 'js-profile-create-form' } do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-header">
          <h5 class="modal-title">Provide your security information</h5>
        </div>
        <div class="modal-body">
          <p class="modal-text">Please enter last 4 digits of your social security number</p>
          <div class="d-flex">
            <div class="col-12 col-sm-5 no-padding">
              <div class="form-item">
                <label for="ssn" class="control-label">Type 4 digits (XXXX)</label>
                <input class="form-control ssn-mask-num js-profile-ssn" type="text" name="profile[ssn]" id="ssn">
              </div>
            </div>
            <div class="col-12 col-sm-2 d-flex align-items-center justify-content-center">
              <p class="text-center">and</p>
            </div>
            <div class="col-12 col-sm-5 no-padding">
              <div class="form-item">
                <label for="dob" class="control-label">Date of birth (MM/DD/YYYY)</label>
                <input class="form-control js-profile-dob" type="text" name="profile[dob]" id="dob">
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="col-12 col-sm-4 no-padding">
              <button class="btn js-profile-create-btn" type="submit">Continue</button>
            </div>
            <div class="col-12 col-sm-8 d-flex align-items-center">
              <p class="modal-form-text text-left">Why do we need this? Regulations require this identity verification. We store all data in encrypted form</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!--/ Learn More modal -->
