<!-- Learn More modal -->
<div class="modal fade" id="thank-you-steps" tabindex="-1" role="dialog" aria-labelledby="thank-you-steps" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      <div class="modal-header">
        <h5 class="modal-title">Thank you!</h5>
      </div>
      <div class="modal-body">
        <p class="modal-text">You can finish the step three, while we confitming the information about the accounts</p>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">GOT IT!</button>
      </div>
    </div>
  </div>
</div>
<!--/ Learn More modal -->
