.btn {
  font: 14px/1 $font-default;
  font-weight: 500;
  text-decoration: none !important;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  letter-spacing: -0.03em;
  padding: 12px 29px;
  text-align: center;
  height: 38px;
  background: $color-purple-dark;
  background: linear-gradient(to bottom, rgba($color-purple-dark2,1) 0%,rgba($color-purple-dark,1) 50%,rgba($color-purple-dark2,1) 100%);
  color: $color-white;
  background-size: auto 200%;
  line-height: 1;
  transition: all 0.27s ease;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  cursor: pointer !important;
  width: auto;
  max-width: 100%;
  box-shadow: 0px 2px 4px 1px rgba($color-black, 0.25);

  &.btn-full-width{
    width: 100%;
    max-width: 194px;
    padding: 12px;
  }
  &:hover,
  &:active,
  &:focus{
    outline: none !important;
    background-position: 0 -100%;
    color: $color-white;
  }

  //@include hover-style('', '', 1.1);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &-invert{
    background: transparent;
    box-shadow: none;
    border: 1px solid $color-purple-dark;
    color: $color-purple-dark;

    &:hover,
    &:active,
    &:focus{
      background: $color-purple-dark;
    }
  }

  &-file{
    position: relative;
    height: 30px;
    width: 159px;
    padding: 12px;
    .input,
    input{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 11;
      cursor: pointer;
    }
  }

  &:disabled{
    border: 1px solid rgba($color-purple-dark, 0.34);
    color: rgba($color-purple-dark, 0.34);
    background: transparent;
    box-shadow: none;
    opacity: 1;
  }
}
