// Typography
$font-default: 'Roboto', sans-serif;
$font-icomoon: 'icomoon';
$heading-font-family: $font-default;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$color-white: #fff;
$color-black: #000;
$color-dark: #272727;
$color-dark2: #171717;
$color-blue: #1565c0;
$color-red: #EB5555;
$color-red2: #FFEEEE;
$color-red-light: #EC7171;
$color-red-dark: #BC322C;
$color-pink: #F3A6A6;
$color-pink2: #FFB8B8;
$color-pink-light: #E9C8C8;
$color-orange: #C67A11;
$color-orange-light: #E8DCC8;
$color-orange-2: #FFF4E4;
$color-green: #449726;
$color-green2: #EBFFEF;
$color-green-light: #D9E5D4;
$color-grey: #B2B2B2;
$color-grey2: #ECECEF;
$color-grey3: #A8A8A8;
$color-grey4: #818181;
$color-grey5: #DBDBE0;
$color-grey6: #BEC3CC;
$color-grey7: #969696;
$color-grey8: #EFEFEF;
$color-grey9: #E2E5E8;
$color-grey10: #DEDEE5;
$color-grey11: #C4C4C4;
$color-grey12: #D2D2D8;
$color-dark-grey: #CFCFD6;
$color-medium-grey: #E7E7EB;
$color-light-grey: #F7F7F8;
$color-light-grey2: #F0F0F1;
$color-purple: #5B8EFF;
$color-purple-2: #B0AEBB;
$color-purple-3: #AFC8FF;
$color-purple-dark: #3D3A58;
$color-purple-dark2: #575472;
$color-purple-light: #D8D7E2;

// Font Colors
$base-font-color: $color-dark-grey;
$action-color: $color-blue;

// Border
$base-border-color: $color-light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $color-white;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
