<header class="text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Dwolla + Plaid integration prototype</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <%=
          if user_signed_in?
            link_to('User profile', user_path, class: "btn btn-light btn-xl sr-button")
          else
            link_to('Login', new_user_session_path, class: "btn btn-light btn-xl sr-button")
          end
        %>
      </div>
    </div>
  </div>
</header>

