<header class="text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Prototype invest app</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">

      </div>
    </div>
  </div>
</header>

