<div class="row">
  <div class="col-lg-12">
    <button id="link-btn">Link PLAID Account</button>
  </div>
</div>

<% content_for :javascript do %>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    (function($) {
        var handler = Plaid.create({
            apiVersion: 'v2',
            clientName: 'SISU Test App',
            env: '<%= ENV["PLAID_ENV"] %>',
            product: ['transactions'],
            key: '<%= ENV["PLAID_PUBLIC_KEY"] %>',
            onSuccess: function(public_token) {
              $.post('/plaid/apply_token', { public_token: public_token }, function() {
                  location.reload();
              });
            },
        });

        $('#link-btn').on('click', function(e) {
          handler.open();
        });
    })(jQuery);
  </script>
<% end %>
