<div class="preview-footer">
  <div class="preview-footer__inner">
    <div class="preview-footer__head drop-footer">
      <div class="head-label">Preview</div>
      <a href="javascript:void(0);" class="show-more">Show more</a>
    </div>
    <div class="preview-footer__body">
      <div class="document-preview">
        <div class="document-preview__image">
          <%= image_tag('/documents_placeholder.png') %>
        </div>
        <div class="document-preview__name">Nameimage1.png</div>
      </div>
    </div>
  </div>
</div>
