<div class="user-statusbar">
  <div class="user-statusbar__item">
    <div class="user-statusbar__label">Status: </div>
    <div class="user-statusbar__message status-pending">Pending approval</div>
  </div>

  <div class="user-statusbar__item">
    <div class="user-statusbar__label">Status: </div>
    <div class="user-statusbar__message status-waiting-docs">Waiting for additional information (scan identification)</div>
  </div>

  <div class="user-statusbar__item">
    <div class="user-statusbar__label">Status: </div>
    <div class="user-statusbar__message status-approved">Approved</div>
  </div>
</div>
