<section class="content user-profile">
  <div class="content-head">
    <h1 class="content-title">User profile</h1>
    <p class="content-description">Your personal information</p>

    <%= render 'user-statusbar' %>
  </div>
  <%= render 'form' %>
</section>