<div class="auth-block__logo">
  <%= image_tag 'icons/sisu-logo-white.svg', alt: 'Sisu Logo', class: 'auth-logo' %>
</div>
<p class="auth-block__text">Welcome back to the SISU automated investment application. We will automatically invest money from your checking account to your investment account. Sign in for a free test</p>

