---
:concurrency: 2
production:
  :concurrency: 2
:queues:
  - rollbar
  - plaid_fetch_account_info
  - plaid_fetch_transactions
:schedule:
  fetch_plaid_transactions:
    cron: '0 */15 * * * *'
    class: PlaidFetchTransactionsJob
