---
:concurrency: 2
production:
  :concurrency: 2
:queues:
  - dwolla
  - dwolla_fetch_tokens
  - plaid_fetch_transactions
:schedule:
  fetch_plaid_transactions:
    cron: '0 */15 * * * *'
    class: PlaidFetchTransactionsJob
