.content{
  position: relative;
  background: $color-light-grey;
  box-shadow: 0 0 9px 0 rgba($color-black, 0.25);
  padding: 30px 50px;
  margin-top: 30px;

  &.dashboard{
    padding-bottom: 300px;

    &:after{
      content: "";
      position: absolute;
      width: 147px;
      height: 105px;
      background: image_url('icons/ico-money.svg') no-repeat 0 0;
      background-size: contain;
      bottom: 125px;
      right: 50px;
      transform: translateY(50%);
    }
  }

  &-head{
    padding: 0 0 25px;
    margin: 0 0 25px ;
    border-bottom: 1px solid $color-medium-grey;
  }

  &-title{
    font: 25px/1.3 $font-default;
    font-weight: 400;
    color: $color-purple-dark;
    text-transform: uppercase;
    margin: 10px 0;

    & + *{
      margin-top: -5px;
    }
  }

  &-description{
    font: 12px/1.2 $font-default;
    font-weight: 300;
    color: $color-grey4;
  }
}
