.transactions{
  &-footer{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: auto;
    min-height: 50px;
    transform: translateY(-50px);
    font: 12px/1.5 $font-default;
    font-weight: 700;
    background: $color-medium-grey;
    color: $color-purple-dark;
    padding: 15px 0;
    width: auto;
    max-width: 285px;
    flex: 1 0 auto;
    margin: 0 auto;
    z-index: 1;

    &__head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 8px;
      transition: margin 0.27s ease;

      .show-more{
        position: relative;
        font: 13px/1.2 $font-default;
        font-weight: 300;
        color: $color-purple;
        text-decoration: none;
        padding: 0 15px 0 0;
        display: inline-flex;
        transition: all 0.27s ease;
        text-decoration: none !important;

        &:hover {
          color: shade($color-purple-dark, 25%);
        }
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 45%;
          display: inline-block;
          width: 0;
          height: 0;
          border: 4px solid transparent;
          border-top-color: $color-purple-dark;
          border-bottom: 0;
          transition: all 0.27s ease;
        }
      }

      &.opened{
        border-bottom: 1px solid $color-grey12;
        padding-bottom: 15px;
        margin-bottom: 5px;

        .show-more{
          &:after{
            border: 4px solid transparent;
            border-bottom-color: $color-purple-dark;
            border-top: 0;
          }
        }
      }
    }
    &__inner{
      padding: 0 10px;
      background: $color-medium-grey;
    }
    &__body{
      position: relative;
      max-height: 280px;
      margin: 0 -10px;
      padding: 0;
      background: $color-medium-grey;
      display: none;
      flex-direction: column;

      &.opened{
        display: flex;
      }
    }
  }
  &-list{
    position: relative;
    border: none;
    border-collapse: collapse;
    margin: 0;

    th,td{
      padding: 10px 4px 6px 4px;
    }
    &-header{
      width: 100%;
      position: relative;
      height: 25px;
      left: 0;
      right: 0;
      top: 0;
      padding: 0 10px;
      text-align: left;
      border: none;
      background: $color-medium-grey;
      z-index: 1;

      table,tr{
        margin: 0;
        border: none;
      }

      th,td,
      .head-cell{
        padding: 5px;
        font: 12px/15px $font-default;
        font-weight: 300;
        color: rgba($color-purple-dark, 0.49);
      }
    }

    &-outer{
      padding: 0;
      background: $color-grey10;
      position: relative;
      max-height: 265px;
      overflow: hidden;
      flex: 1 0 auto;

      &:not(.mCustomScrollbar){
        overflow-y: auto;
      }
    }

    &__item{
      background: transparent;
      border-left: 10px solid $color-grey10;

      td,
      .item-cell{
        font: 12px/1 $font-default;
        font-weight: 300;
        color: $color-purple-dark;
        border-bottom: 1px solid $color-grey9;

        &__inner{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100%;
          display: inline-block;
        }
      }

      &.status{
        &-planned{
          background-color: $color-purple-light;
          border-left-color: $color-purple-light;
          .status{
            color: $color-purple-dark;
          }
        }
        &-pending{
          background-color: $color-orange-light;
          border-left-color: $color-orange-light;
          .status{
            color: $color-orange;
          }
        }
        &-failed{
          background-color: $color-pink-light;
          border-left-color: $color-pink-light;
          .status{
            color: $color-red-dark;
          }
        }
        &-success{
          background-color: $color-green-light;
          border-left-color: $color-green-light;

          .status{
            color: $color-green;
          }

          .transactions-delete{
            display: none;
          }
        }
      }

      &:last-child{
        border-bottom: none;
      }
    }
  }

  &-delete{
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin: 3px 3px 0;
    padding: 0;
    background: $color-purple-dark image_url('icons/ico-close-white.svg') no-repeat 50% 50%;
    background-size: 8px;
    appearance: none;
    border: none;
    transition: all 0.27s ease;
    opacity: 1;
    cursor: pointer;

    &:hover{
      opacity: 0.9;
    }
  }


  @media all and (max-width: 575px){
    &-footer{
      position: relative;
      top: auto;
    }
  }
}
// scrollBar
.mCSB_draggerContainer {
  border-radius: 0;
}

.mCSB{
  &_scrollTools {
    width: 10px;
    .mCSB_dragger {
      width: 4px;
      left: 3px;
      border-radius: 0;
      &_bar {
        background-color: $color-grey11 !important;
        width: 100% !important;
        border-radius: 0 !important;
      }

      &Container {
        background: $color-medium-grey;
      }
      &Rail {
        background-color: rgba($color-purple-dark, 0.1);
        border-radius: 0 !important;
      }
    }
  }

  &_inside{
    & > .mCSB_container {
      margin-right: 10px;
    }
  }
}


.head-cell,
.item-cell{

  &.date{
    width: 75px;
  }

  &.description{
    width: auto;
  }

  &.status{
    width: 60px;
  }

  &.amount{
    width: 30%;
  }

  &.action{
    text-align: center;
    width: 40px;
    padding-left: 0;
    padding-right: 0;
  }
}

.item-cell{
  &.action{
    padding: 4px;
  }
}