.auth-block{
  display: flex;
  flex-wrap: wrap;
  background: $color-white;
  position: relative;
  width: 100%;
  margin: 25px auto;
  min-height: 565px;
  border-radius: 5px;
  box-shadow: 0 0 9px 0 rgba($color-black, 0.25);
  overflow: hidden;

  form{
    max-width: 480px;
  }

  > .col,
  > [class*="col-"] {
    padding: 70px 15px 45px;
  }

  &__inner{
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
  }
  &__description{
    display: flex;
    position: relative;
    padding-bottom: 5px;
    min-height: 565px;
    max-width: 50%;
    flex: 1 0 50%;
    background: $color-purple-dark image_url('sisu-login.png') no-repeat 50% 0;
    background-size: cover;
    text-align: center;
  }
  &__logo{
    text-align: center;
    margin-bottom: 25px;
    img{
      max-width: 140px;
    }
  }
  &__text{
    font: 22px/1.3 $font-default;
    font-weight: 300;
    color: $color-white;
    margin: 25px 0;
    padding: 0 15px;

    @include mobile-font-size(22);
  }
  &__status{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: rgba($color-white, 0.28);

    &:after{
      content: "";
      width: 50%;
      height: 1px;
      background: $color-white;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }

    &.sign-up{
      &:after{
        left: auto;
        right: 0;
      }
    }
  }
  &__form{
    max-width: 50%;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    form{
      max-width: 320px;
      margin: 0 auto;
      min-height: 250px;
    }
  }
  &__title{
    font: 25px/1.3 $font-default;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-purple-dark;
    text-align: center;

    & + .form-description{
      margin-top: -15px;
      margin-bottom: 15px;
    }
  }
  &__links{
    font: 13px/1.3 $font-default;
    font-weight: 300;
    color: $color-grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: flex-end;

    & > *{
      margin-bottom: 16px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

