form{
  width: 100%;
  padding: 0;
  max-width: 480px;
  margin: 0 auto;
}
.form-submit{
  position: relative;
  margin: 0 auto;
  max-width: 55%;

  @media all and (max-width: 768px) {
    max-width: 65%;
  }

  @media all and (max-width: 575px) {
    max-width: 100%;
  }
}
input:not([type="submit"]):not([type="file"]):not([type="range"]):not([type="checkbox"]), textarea, select{
  font: 13px/1 $font-default;
  font-weight: 400;
  text-transform: none;
  text-decoration: none !important;
  border-radius: 0;
  letter-spacing: -0.04em;
  background-color: $color-white;
  border: none;
  border-bottom: 1px solid #A8A8A8;
  color: $color-dark;
  padding: 12px 0px 5px 0;
  height: auto;
  margin: 0;
  line-height: 1;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  width: 100%;
  box-shadow: none;

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-contacts-auto-fill-button,
  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-black;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: transparent !important;
  }
}

/* Customize the label (the container) */
.checkbox {
  width: 24px !important;
  height: 24px !important;
  margin: 0 25px 25px 0 !important;
  float: left !important;
  padding: 5px !important;

  input {
    margin: 0 !important;
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 22 !important;

    & ~ .checkmark {
      border-color: $color-purple-dark !important;
      background: $color-white !important;
    }
    &:checked ~ .checkmark {
      border-color: $color-purple-dark !important;
      background: $color-purple-dark !important;

      &:after {
        opacity: 1;
      }
    }
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 17px !important;
    height: 17px !important;
    margin:  0 20px 20px 0 !important;
    float: left;
    padding: 5px;
    border: 1px solid $color-purple-dark;
    border-radius: 0;
    background: $color-white;
    vertical-align: -0.35em;
    color: $color-purple-dark;
    transition: all 0.3s ease;
    z-index: 11;

    &:after {
      font-family: $font-icomoon;
      //content: "\2713";  /* Check mark character */
      content: "";  /* Check mark character */
      position: absolute;
      font-size: 26px;
      line-height: 1;
      margin: auto;
      width: 17px !important;
      height: 17px !important;
      background: transparent image_url('icons/icon-check.svg') no-repeat 50% 48%;
      background-size: 11px;
      top: 50%;
      left: 50%;
      padding: 1px 4px 2px;
      text-align: center;
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
      transition: opacity 0.2s ease !important;
    }
  }
}

label {
  font: 14px/1.2 $font-default;
  color: $color-dark;
  position: relative;
  left: 0;
  top: auto;
  z-index: 2;
  width: 100%;
  letter-spacing: -0.02em;
  height: auto;
  min-height: 0;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  cursor: text;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @extend .link-style;

  @media all and (max-width: 1024px){
    font-size: 12px;
  }
}

.form {
  padding: 0;
  &-group{
    padding: 0;
  }
  &-description{
    font: 13px/1.2 $font-default;
    font-weight: 300;
    color: $color-grey;
    text-align: center;
  }
  &-control {
    width: 100%;

    @include placeholder-style($color-grey, $font-default, 15px, 400);

    @media all and (max-width: 767px){
      @include placeholder-style($color-grey, $font-default, 15px, 400);
    }

    &::-webkit-credentials-auto-fill-button{
      background: red;
      & + span{
        color: red;
      }
    }
  }
  &-item{
    margin-bottom: 20px;
    text-align: left;
    clear: both;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 40px;

    &-btn{
      border: none !important;
    }

    @extend .link-style;

    a{
      color: $color-purple !important;
      text-decoration: none;
    }

    &:not(.agree-field) + .agree-field{
      margin-top: 30px;
    }

    .show-password{
      font: 13px/1.2 $font-default;
      font-weight: 300;
      color: $color-purple;
      position: absolute;
      right: 0;
      width: 50px;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      padding: 0 0 0 20px;
      background: image_url('icons/ico-padlock.svg') no-repeat 0 0;
      background-size: auto 15px;
      cursor: pointer;
    }

    .control-label {
      font-size: 13px;
      font-weight: 100;
      color: $color-grey;
      position: absolute;
      left: 0;
      top: 20px;
      transform: translateY(-20%);
      z-index: 10;
      width: auto;
      padding: 0;
      max-width: 100%;
      height: 13px;
      min-height: 0;
      line-height: 1;
      background: transparent;
      letter-spacing: -0.03em;
      margin: 0;
      transition: top 250ms ease, font-size 250ms ease;
      pointer-events: none;
    }

    &.focused{
      .control-label {
        top: 0;
      }
    }

    .error-label{
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      font: 12px/1 $font-default;
      font-weight: 300;
      color: $color-red;
      padding: 3px 0 0;
      letter-spacing: -0.03em;
      display: none;
      width: 100%;
      text-align: center;

      &.active{
        display: block;
      }
    }

    .field_with_errors{
      width: 100%;
      display: flex;

      .form-control,
      input:not([type="submit"]):not([type="file"]):not([type="range"]):not([type="checkbox"]), textarea, select{
        border-color: $color-red-light;
        color: $color-red-light;
      }
    }

    &-select-field{
      .control-label{
        position: absolute;
        padding-top: 0;
        line-height: 1;
        top: 0 !important;
        background: transparent;
      }
    }

    .birthdate{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      select{
        display: none;
        background: transparent;
        font-size: 18px;
        color: $color-black;
        font: 18px/1 $font-default;
        line-height: 15px;
        height: 36px;
        padding: 5px;
        font-weight: 400;
        border-radius: 0;
        position: relative;
        z-index: 1;
        outline: none;
        border: 1px solid $color-black;

        &:last-child{
          margin-bottom: 0;
        }
      }

      .select2-container{
        width: 29.5% !important;
        margin: 8px 0;
      }
    }

    &-submit{
      text-align: center;
      border: none;

      .submit,
      input[type=submit]{
        font-style: normal !important;
      }
    }

    &.recaptha-field{
      min-height: 0;
    }


    @media all and (max-width: 1024px){

      &.recaptha-field{
        margin: 15px 0;
        width: 100%;
        overflow: hidden;

        iframe{
          transform-origin: 0 0;
          transform: scale(0.9) translateX(5%);
        }
      }

      .error-label{
        font: 12px/1 $font-default;
        color: $color-red;
        padding: 2px 8px;
        letter-spacing: -0.03em;

        @media all and (max-width: 767px){
          font: 12px/1 $font-default;
        }
      }

      &.birthdate{
        padding-top: 40px;
        margin-top: -15px;

        .form-label{
          height: 10px;
        }

        .error-label {
          bottom: 91%;
          padding: 2px;
        }
      }
    }

    @media all and (max-width: 575px){
      &.recaptha-field{

        iframe{
          transform-origin: 0 0;
          transform: scale(0.7) translateX(15%);
        }
      }
    }

  }

  &-label{
    width: 100%;

    @extend label;
  }
  &-error{
    font-family: $font-default;
    color: $color-red;
    font-size: 14px;
    display: flex;
    flex-direction: column-reverse;
  }
}
.agree-field{
  position: relative;
  font: inherit;
  color: inherit;
  border: none;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: unset;
  padding: 0;
  min-height: 28px;
  margin-bottom: 15px;

  label, .form-label{
    padding: 0 3px 0 30px;
    text-transform: none;
    font: 13px/1.3 $font-default;
    font-weight: 300;
    color: $color-purple-dark;
    min-height: 17px;
    cursor: pointer;
  }

  input[type="checkbox"],
  .checkbox{
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 3;
    cursor: pointer;
  }
  .form-error{
    position: absolute;
    bottom: -8px;

    & + .form-confirm-text{
      display: inline-block;

      @media all and (max-width: 1024px) {
        margin-bottom: 15px;
      }
      @media all and (max-width: 767px) {
        margin-bottom: 10px;
      }

      @media all and (max-width: 480px) {
        margin-bottom: 5px;
      }
    }
  }

  &.form-error{
    border-color: $color-red;

    input[type="checkbox"],
    input[type="checkbox"]::after {
      border-color: $color-red;
      color: $color-red;
    }
  }

  .error-label{
    position: relative;
  }

  @media all and (max-width: 768px){

    .form-group:first-child{
      margin-bottom: 0;
    }
  }
}

.g-recaptcha{
  margin: auto;
}


  //Select2 START ==========================================
.select2{
  &-container {
    width: 100% !important;
    height: auto;

    .select2-selection--single  {
      position: relative;
      background-color: $color-white;
      border: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      overflow: hidden;

      .select2-selection__rendered {
        font: 15px/17px $font-default;
        font-weight: 300;
        text-decoration: none !important;
        border-radius: 0;
        border: none;
        letter-spacing: -0.01em;
        padding: 5px 15px 5px 5px;
        min-height: 25px;
        height: auto !important;
        background: $color-white;
        color: $color-black;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
    }

    &.selected{
      .select2-selection--single{

        .select2-selection {
          &__rendered {
            color: $color-black !important;
          }

          &__arrow {
            b {
              border-color: $color-black transparent transparent transparent;
            }
          }
        }
      }
    }

    &--default {
      .select2-results__option{
        text-align: center;
        &[aria-selected] {
          font: 12px/14px $font-default;
          font-weight: 300;
          color: $color-black;
          transition: all 0.2s ease-in-out;
        }
        &[aria-selected=true]{
          background-color: $color-red;
          color: $color-black;
          transition: all 0.2s ease-in-out;
        }

        &--highlighted[aria-selected] {
          background-color: $color-black;
          color: $color-black;
          transition: all 0.2s ease-in-out;
        }
      }
      .select2-selection--single .select2-selection__arrow {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 18px;

        b {
          transition: all 0.2s ease-in-out;
          border-color: $color-black transparent transparent transparent;
          border-width: 7px 4px 0 4px;
          margin: 0;
          transform: translateX(-7px) translateY(-3px);
        }
      }

      &.select2-container--open{
        .select2-selection--single .select2-selection__arrow{
          b {
            border-color: transparent transparent $color-black transparent;
            border-width: 0 4px 7px 4px;
          }
        }
      }
    }
  }
  &-search{
    &--dropdown
    &__field{
      text-align: center;
      padding: 0 5px !important;
      border-radius: 0 !important;
      height: 30px !important;
      line-height: 30px !important;
      background-color: rgba($color-black, 0.75) !important;
      color: $color-black !important;
    }
  }
  &-field{
    &.day + .select2-container{
      &:after,
      &:before{
        content: "";
        position: absolute;
        height: 24px;
        width: 1px;
        background: #C2C2C2;
        top: 50%;
        transform: translateY(-50%);
      }

      &:before{
        left: -10%;
      }

      &:after{
        right: -10%;
      }
    }
  }
  &-dropdown{
    border: 1px solid $color-black;
    background: rgba($color-black, 0.95);
  }

  &-dark{
    & + .select2-container {
      .select2-selection--single  {
        background-color: $color-black;
      }
      .select2-selection--single .select2-selection__rendered {
        background: $color-black;
        color: $color-black;
      }

      &.selected{
        .select2-selection--single{
          .select2-selection {
            &__rendered {
              color: $color-black !important;
            }

            &__arrow {
              b {
                border-color: $color-black transparent transparent transparent;
              }
            }
          }
        }
      }

      &--default {
        .select2-results__option{
          text-align: center;
          &[aria-selected] {
            color: $color-black;
          }
          &[aria-selected=true]{
            background-color: $color-red;
            color: $color-black;
          }

          &--highlighted[aria-selected] {
            background-color: $color-purple-dark;
            color: $color-black;
          }
        }
        .select2-selection--single .select2-selection__arrow {
          b {
            border-color: $color-black transparent transparent transparent;
          }
        }

        &.select2-container--open{
          .select2-selection--single .select2-selection__arrow{
            b {
              border-color: transparent transparent $color-black transparent;
            }
          }
        }
      }
    }

    &-droplist{
      background: rgba($color-black, 0.95);

      .select2-results__option{
        &[aria-selected] {
          background-color: rgba($color-black, 0.95);
          color: $color-white;
        }
        &[aria-selected=true]{
          background-color: $color-purple-dark;
          color: $color-white;
        }

        &--highlighted[aria-selected] {
          background-color: $color-white;
          color: $color-black;
        }
      }
    }

    .select2{
      &-field{
        &.day + .select2-container{
          &:after,
          &:before{
            content: "";
            position: absolute;
            height: 24px;
            width: 1px;
            background: #C2C2C2;
            top: 50%;
            transform: translateY(-50%);
          }

          &:before{
            left: -7%;
          }

          &:after{
            right: -7%;
          }
        }
      }
    }
  }
}
//Select2 END ==========================================

.f-error{
  border-color: $color-red;
  input:not([type="submit"]):not([type="file"]):not([type="range"]), textarea, select{
    color: $color-red;
  }

  .select2{
    &-container {
      .select2-selection--single {

        .select2-selection__rendered  {
          color: $color-red;
        }
      }

      &.selected{
        .select2-selection--single{
          .select2-selection {
            &__rendered {
              color: $color-red !important;
            }
            &__arrow {
              b {
                border-color: $color-black transparent transparent transparent;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(0.9); opacity: 0.7; }
  50% { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulse {
  0% { transform: scale(0.9); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0.7; }
}
.pulse{
  animation: pulse 3s infinite ease-in-out;
}

.hidden-field{
  visibility: hidden !important;
  position: absolute !important;
  height: 0 !important;
  overflow: hidden !important;
}

.other-field,
#user_heard_other-field{
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  min-height: 0;
  max-height: 0;
  transition: max-height 0.4s ease;
  overflow: hidden;
  margin: 0;

  &.active{
    position: relative;
    overflow: visible;
    visibility: visible;
    height: auto;
    max-height: 40px;
    margin-bottom: 10px;
  }
}

.alert{
  font: 12px/1 $font-default;
  font-weight: 300;
  color: $color-dark2;
  padding: 10px;
  letter-spacing: -0.03em;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 0;

  &.alert-danger{
    background: $color-pink2;

    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      background: image_url('icons/ico-error.svg') no-repeat 0 0;
      background-size: auto 14px;
      float: left;
      margin-right: 5px;
    }
  }
  &.success-message{
    background: $color-green;
  }
}
