.header{
  display: flex;
  position: absolute;
  min-height: 65px;
  background: $color-white;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  & > .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar{
    padding: 0;
    flex: 1 0 auto;
    width: 100%;
  }

  &-logo{

    &-img{
      max-width: 72px;
    }
  }
}
