.user{
  &-menu{
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    margin: 0 26px;

    &__toggle{
      position: relative;
      font: 13px/1.2 $font-default;
      font-weight: 300;
      color: $color-purple;
      text-decoration: none;
      padding: 0 15px 0 0;
      display: inline-flex;
      transition: all 0.27s ease;
      text-decoration: none !important;

      &:after{
        content: '';
        position: absolute;
        right: 0;
        top: 45%;
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px solid transparent;
        border-top-color: $color-purple-dark;
        border-bottom: 0;
        transition: all 0.27s ease;
      }

      &.opened{
        color: $color-purple-dark;

        &:after{
          border: 4px solid transparent;
          border-bottom-color: $color-purple-dark;
          border-top: 0;
        }
      }
    }
    &__name{
      display: inline-block;
    }
    &__dropdown{
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      background: $color-white;
      transition: all 0.27s ease;
      padding: 0 0 1px;
      box-shadow: 0 0 5px 0 rgba($color-purple-dark, 0.5);
      text-align: center;
      z-index: -999;
      left: 50%;
      top: 100%;
      margin-top: 10px;
      border-top: 1px solid $color-purple-dark;
      width: 160px;
      border-radius: 0;
      will-change: transform, opacity;
      transform: translate(-50%, 17px);

      &.opened{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%, 0);
        z-index: 999;
      }

      &__item{
        width: 100%;
        display: inline-flex;
        padding: 0;
        min-height: 24px;
        align-items: center;
        justify-content: center;
        font: 12px/1.2 $font-default;
        font-weight: 300;
        color: $color-dark;
        text-align: left;

        a{
          padding: 5px 8px;
          flex: 1 0 auto;
          text-decoration: none !important;
          font: inherit;
          color: inherit;
          transition: all 0.27s ease;
          min-height: inherit;

          &:hover,
          &:focus{
            background: rgba($color-purple-dark, 0.51);
            color: $color-white;
          }
        }
        .btn{
          margin: 0;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0%;
        pointer-events: none;
        left: 50%;
        border: 7px solid transparent;
        border-bottom-color: $color-white;
        border-top: 0;
        transform: translate(-50%, -100%);
        filter: drop-shadow(0 -1px 0 rgba($color-purple-dark, 1));
      }
    }
  }
}

.icon-user{
  display: inline-block;
  width: 13px;
  height: 15px;
  margin: 0 7px 0 0;
  background: image_url('icons/ico-user-profile.svg') no-repeat 0 0;
  background-size: auto 15px;
}
