<%= render 'invest_accounts/step_icon' %>
<%= form_for :invest_account, url: '/invest_accounts', method: :post, remote: true,
             html: { id: 'js-invest-create', class: 'widget-card new' } do |f| %>
  <div class="widget-header text-center">
    <span>Add Investment Account</span>
  </div>
  <div class="widget-body">
    <div class="widget-icon invest"></div>
    <p class="widget-text js-invest-container">
      Second, add an investment account - this is where the money from your source account will be invested.
    </p>
  </div>
  <div class="widget-footer text-center js-invest-btn-area">
    <button type="button" id="invest-add-btn" class="btn btn-outline-primary js-invest-create-btn"
    <%= invest_account_btn_state %>>
      ADD
    </button>
  </div>
<% end %>
