<div class="transactions-filters">
  <div class="transactions-filters__label">Filter by status:&nbsp;&nbsp;</div>
  <div class="transactions-filters__control">
    <div class="select2-field__outer">
      <select class="select2-control js-filter-set-transaction_status">
        <option value="">All</option>
        <% InvestTransaction::STATUSES.each do |st| %>
          <option value="<%= st %>"><%= st.camelize %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
