<div class="text-center">
  Filter by status:&nbsp;&nbsp;
  <select style="width: 100px" class="js-filter-set-transaction_status">
    <option value="">All</option>
    <% InvestTransaction::STATUSES.each do |st| %>
      <option value="<%= st %>"><%= st.camelize %></option>
    <% end %>
  </select>
</div>
