<tr style="padding: 0 !important; text-align: center;">
  <td valign="top" height="auto" style="vertical-align: top; padding: 0 !important; text-align: left; height:auto;">
    <div style="width: 500px; margin: 0 50px; text-align: left;">
      <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
      <span style="font-family: 'Roboto', Arial, Tahoma, 'Times New Roman', sans-serif; color: #272727; font-size: 24px; text-align: center;">Hello <%= @resource.email %>!</span>

      <div style="height: 20px; line-height: 20px; font-size: 7px;">&nbsp;</div>
      <span style="font-family: 'Roboto', Arial, Tahoma, 'Times New Roman', sans-serif; color: #272727; font-size: 14px; text-align: center;">
        We're contacting you to notify you that your password has been changed.</span>

      <div style="height: 25px; line-height: 20px; font-size: 7px;">&nbsp;</div>
      <div style="height: 1px; width: 500px; margin: 0; background: #ECECEF; font-size: 7px;">&nbsp;</div>
      <div style="height: 25px; line-height: 20px; font-size: 7px;">&nbsp;</div>
      <span style="font-family: 'Roboto', Arial, Tahoma, 'Times New Roman', sans-serif; font-style: italic; color: #000000; font-size: 11px; text-align: left;">
        Best regards,
          <div style="height: 10px; line-height: 10px; font-size: 7px;">&nbsp;</div>
          <img src="<%= asset_url('email-logo.png') %>" alt="banner-logo" class="img-respons" style="width: 72px; height: 36px; margin: 0;">
        </span>
    </div>
  </td>
</tr>
