---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"PLAID_PUBLIC_TOKEN","client_id":"PLAID_CLIENT_ID","secret":"PLAID_SECRET"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "PLAID_ACCESS_TOKEN",
          "item_id": "qMkLnnJqQpIqemgGw8akTA6a1azaD9S4g85NQ",
          "request_id": "XaeP6"
        }
  recorded_at: Fri, 16 Mar 2018 02:18:25 GMT
